{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint", "autofix"],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "prefer-const": "warn",
    "@typescript-eslint/no-unused-vars": [
      1,
      { "vars": "all", "argsIgnorePattern": "^_" }
    ]
  }
}
